body {
  background-color: #999999;
}

#wrapper {
  margin: 24px auto;
  width: 1200px;
  border: 1px solid black;
  padding: 24px;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 24px;
}

header{
  grid-column: span 12;
  background-color: black;
  color: white;
  font-family: 'Alfa Slab One', cursive;
  padding-left: 10px;
  display: inline-block;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  text-shadow: 2px 2px 2px #aaa;
}

main{
  grid-column: span 11;
}

main h2{
  border-bottom: 5px solid black;
  font-family: 'Alfa Slab One', cursive;
  font-size: 2em;
}

main h3{
  font-family: 'Alfa Slab One', cursive;
}

.floatimage {
  width: 200px;
  height: 200px;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  box-shadow: 3px 3px 10px #666;
}

.centerimage{
  width: 200px;
  height: 200px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 10px;
  box-shadow: 3px 3px 10px #666;
}

.headerimage{
  width: 80px;
  height: 80px;
  float: right;
  margin-right: 50px;
  margin-bottom: 50px;
  border-radius: 100px;
}

#navi{
  background-color: black;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

#navi ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

#navi li {
  background-color: white;
  margin-bottom: 60px;
  border-radius: 20px;
  box-shadow: 2px 2px 2px #666;
}

#navi li a {
  display: block;
  text-align: center;
  padding: 24px;
  color: black;
  text-decoration: none;
  font-size: 2em;
  font-family: 'Alfa Slab One', cursive;
}
#navi li a:hover {
  background-color: #D8D8D8;
  border-radius: 20px;
  box-shadow: 3px 3px 2px #666;
  transition: background-color 0.5s, box-shadow .5s;
}

#socials{
  background-color: black;
  color: white;
  font-family: 'Alfa Slab One', cursive;
  margin-bottom: 20px;
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 10px;
  text-align: center;
}

#socials h2{
}

#socials a{
  color: white;
  text-decoration: none;
}

#socials a:hover{
  color: #D8D8D8;
  transition: color 0.5s;
}

footer {
  grid-column: span 12;
  background-color: black;
  color: white;
  font-family: 'Alfa Slab One', cursive;
  font-size: 2em;
  text-align: center;
  border-radius: 50px;
}

.carousel {
  color: #170724;

  --carousel-button-bg: #fff;
  --carousel-button-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0
          0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);

  --carousel-button-svg-width: 20px;
  --carousel-button-svg-height: 20px;
  --carousel-button-svg-stroke-width: 2.5;
}

.carousel__slide {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 80%;
  height: 700px;
  margin-right: 6px;

  background-color: #eee;
  border-radius: 6px;
}
